---
layout: default
---
<div class="content">
    <h1>Vuokraus</h1>
    <p class="hero">
        Kysy tarjousta osoitteesta info@sidestories.fi.
    </p>

{% for group in site.data["rental_groups"] %}
    {% assign rentals = (site.data["rentals"] | where: "group", group[0]) %}
    <h2>{{ group[1] }}</h2>

    <table class="table--pricing">
        <tr>
            {% if group[0] != "bundle" %}
                <th colspan="2">Tuote</th>
                <th class="rental--price">Päivähinta</th>
            {% else %}
                <th colspan="2">Setti</th>
                <th class="rental--price">Päivähinta</th>
            {% endif %}
        </tr>
    {% for rental in rentals %}
        <tr>
        {% assign item = rental %}
            {% if item.bundle %}
                <td colspan="2">
                    <h4>{{ item.name }}</h4>
                    <ul>
                    {% assign bundle = site.data["rental_bundles"][item.bundle] %}
                    {% assign bundle_total = 0 %}
                    {% for bundle_item_key in bundle %}
                        {% assign bundle_item = site.data["rentals"][bundle_item_key] %}
                        {% assign bundle_total = bundle_total | plus: bundle_item.rate %}
                        <li>{{ bundle_item.name }} ({{ bundle_item.rate | replace: ".", "," }} €)</li>
                    {% endfor %}
                        <li>Alentamaton yhteishinta {{ bundle_total | replace: ".", "," }} €</li>
                    </ul>

                    = {{ bundle_total | replace: ".", "," }} €
                </td>
            {% else %}
                <td class="rental--make">{{ item.make }}</td>
                <td>
                    {{ item.name }} 
                    {% if item.extra %}
                        <small>{{ item.extra }}</small>
                    {% endif %}
                </td>
            {% endif %}
            <td class="table-cell--center rental--price">
                {% assign raw_price = item.rate | replace: ".", "," %}
                {% assign price_components = raw_price | split: "," %}
                {{ price_components[0] }},<span>{{ price_components[1] }}</span> €
            </td>
        </tr>
    {% endfor %}

    </table>
{% endfor %}
</div>