%button {
  border: $line-stroke-width solid currentColor;
  border-radius: $default-border-radius;
  color: $black-color;
  display: inline-block;
  font-family: $alt-font-family;
  font-size: 0.9em;
  font-weight: 600;
  margin: $spacing-unit / 2 0;
  padding: $spacing-unit / 3 $spacing-unit / 2;
  text-transform: uppercase;

  &:visited {
    border-bottom: currentColor;
    color: currentColor;
  }

  &:hover,
  &:focus {
    background: $black-color;
    color: $white-color;
  }
}

%button--negative {
  color: $white-color;

	&:hover,
	&:focus {
		background: $white-color;
		border-color: $white-color;
		color: $black-color;
	}
}

%button--subtle {
  border-bottom-color: transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;

  &:hover,
  &:focus {
    background: none;
    color: currentColor;
  }
}
