<div class="meta-fields meta-fields--centered">
    {% if include.published %}
        <div class="meta-field">
            <h4>{{ site.data["i18n"]["year"] }}</h4>
            <p>{{ include.published }}</p>
        </div>
    {% endif %}
    {% if include.runtime %}
        <div class="meta-field">
            <h4>{{ site.data["i18n"]["running_time"] }}</h4>
            <p>{{ include.runtime }}</p>
        </div>
    {% endif %}
    {% if include.category %}
        <div class="meta-field">
            <h4>{{ site.data["i18n"]["category"] }}</h4>
            <p>{{ include.category }}</p>
        </div>
    {% endif %}
</div>