.full-screen-element {
  .header--bar + &,
  .header--bar + article > &:first-child,
  .header--bar + article > header > & {
    margin-top: -$spacing-unit*4;
  }

  .full-screen-background {
    background: $black-color;

    & > * {
      opacity: 0.33;
    }
  }

  h1.full-screen-element-title {
    + p {
      @extend .hero;
    }
  }

  .full-screen-content {
    @extend .content;
    margin: 0 auto;
    max-width: $content-width;
    padding: $spacing-unit 0;
    text-align: center;

    @media all and (min-width: $on-laptop) {
      padding: $spacing-unit * 3 0;
    }
  }

  &.first-full-screen {
    .full-screen-content {
      padding-bottom: $spacing-unit * 3;
    }

    .full-screen-helper {
      bottom: 0;
      color: $white-color;
      cursor: pointer;
      display: block;
      font-size: $h1-size;
      padding: $spacing-unit 0;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 3;

      &:after {
        content: '\2193'; // Downwards arrow.
      }
    }
  }

  .full-screen-background-toggler {
    color: $white-color;
    cursor: pointer;
    right: $spacing-unit;
    position: absolute;
    top: $spacing-unit;
    z-index: 999;
  }
  &.full-screen-element-ready {
    .full-screen-content {
      -webkit-transition: all 0.5s;
    }
    .full-screen-background {
      -webkit-transition: all 0.25s;
      -webkit-transition-delay: 0.25s;

      > * {
        -webkit-transition: all 0.25s;
      }
    }

    // Reverse colorize effect transition order.
    &.full-screen-background-visible {
      .full-screen-background {
        -webkit-transition-delay: 0s;

        > * {
          -webkit-transition-delay: 0.25s;
        }
      }
    }
  }

  &.full-screen-background-visible {
    .full-screen-content {
      filter: blur(10px);
      opacity: 0;
    }
    .full-screen-background {
      filter: none !important;

      > * {
        filter: none !important;
        opacity: 1;
      }
    }
  }

  &.full-screen-element-ready,
  &.full-screen-element-disabled {
    .full-screen-background {
      height: 100%;
      left: 0;
      width: 100%;
      position: absolute;
      top: 0;

      img {
        width: 100%;
      }

      .full-screen-background-css {
        background-position: 50% 50%;
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }

    .full-screen-content {
      color: $white-color;
      position: relative;
      z-index: 2;

      a.button {
        @extend a.button--negative;
      }
    }
  }

  &.full-screen-element-disabled {
    overflow: hidden;
    position: relative;

    .full-screen-content {
      padding: $spacing-unit 0;
    }

    .full-screen-helper {
      display: none;
    }
  }
}

.full-screen-background.full-screen-background-colorize {
  .theme-black & {
    filter: grayscale(100%);
  }
  .theme-blue & {
    filter: hue-rotate(180deg) saturate(25) brightness(0.85) contrast(105%);

    > * {
      filter: sepia(100%) saturate(0.1);
    }
  }
}
