.logo {
	margin: 0 auto;
	max-width: 50rem;
	text-align: center;
	width: 100%;

	svg {
		margin: -7.5% 0 -7.5% 0;
	}

	a {
		border-bottom: 0;
		display: block;
	}

	a:hover,
	a:focus {
		background: $near-white-color;

		svg path {
			fill: $black-color;
		}
	}
}

.logo--compact {
	max-width: 10rem;
	min-width: 8rem;

	svg {
		margin: 0;
	}
}

.logo--negative {
	svg path {
		fill: $white-color;
	}
}

.header--bar {
	background: $black-color;
	margin-bottom: $spacing-unit*4;
	padding: 0;

	.logo--compact {
		background: $black-color;
		margin: 0;
		margin-bottom: -$spacing-unit*2;
		position: relative;
		z-index: 10;
	}

	.header--static-area {
		background: $black-color;
	}
}

.header--content {
	position: relative;
}

.header--static-area {
	align-items: end;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: $content-width + 10rem;
	position: relative;
	z-index: 99999;
}

.mobile-menu--active {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.header--static-area {
		display: flex;
		flex-grow: 1;
		margin: 0;
	}

	.language-switcher {
		align-items: center;
		align-self: center;
		padding: $spacing-unit / 4;
	}

	.logo {
		margin-bottom: 0;
		max-width: 6rem;
		width: auto;
	}
}

.language-switcher {
	align-items: flex-end;
	align-self: flex-end;
	display: flex;
	padding-top: $spacing-unit / 2;

	a {
		@extend h5;
		border: 0;
		border-bottom: $line-stroke-width solid transparent;
		color: $white-color;
		line-height: $spacing-unit;
		margin: 0 $spacing-unit / 4 0 0;
		padding: $spacing-unit / 3 $spacing-unit / 2;

		&:hover,
		&:focus {
			border-bottom-color: currentColor;
		}

		&.active {
			&,
			&:hover,
			&:focus {
				border-bottom-color: currentColor;
			}
		}
	}
}

.mobile-menu--overlay {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	opacity: 0;
	position: fixed;
	transition: opacity 0.25s;
	width: 100%;
	z-index: 999;
}
body.mobile-menu--open {
	.mobile-menu--overlay {
		opacity: 1;
	}
}
