.logo {
	margin: 0 auto;
	max-width: 50rem;
	text-align: center;
	width: 100%;

	svg {
		margin: -7.5% 0 -7.5% 0;
	}

	a {
		border-bottom: 0;
		display: block;
	}

	a:hover,
	a:focus {
		background: $near-white-color;

		svg path {
			fill: $black-color;
		}
	}
}

.logo--compact {
	max-width: 10rem;
	min-width: 8rem;

	svg {
		margin: 0;
	}
}

.logo--negative {
	svg path {
		fill: $white-color;
	}
}

.header--bar {
	background: $black-color;
	margin-bottom: $spacing-unit*4;
	padding: 0;

	.logo--compact {
		background: $black-color;
		margin: 0;
		margin-bottom: -$spacing-unit*2;
		position: relative;
		z-index: 10;
	}
}

.header--content {
	align-items: end;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: $content-width + 10rem;
}

.mobile-menu--active {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.header--content {
		display: flex;
		margin: 0;

		.language-switcher {
			align-self: center;
			padding: $spacing-unit / 4;
		}
	}

	.mobile-menu--drawer {
		width: 100%;
	}

	.logo {
		margin-bottom: 0;
		max-width: 6rem;
	}
}

.language-switcher {
	align-items: end;
	align-self: end;
	display: flex;
	padding-top: $spacing-unit / 2;

	a {
		@extend h5;
		border: 0;
		color: $white-color;
		margin: 0;
		padding: $spacing-unit / 4 $spacing-unit / 2;

		&:hover,
		&:focus {
			background: $white-color;
			color: $black-color;
		}

		&.active {
			&,
			&:hover,
			&:focus {
				background: $white-color;
				color: $grey-color;
			}
		}
	}
}
