.content {
	@extend %container;

	.full-screen-element-ready + & {
		margin-top: $spacing-unit * 2;
	}
}
.content--spaced {
	padding-bottom: $spacing-unit;
	padding-top: $spacing-unit;
}


.hero {
	font-size: $big-font-size;
	margin-bottom: $spacing-unit * 2;
	margin-top: 0;
}

.footer {
	background: $near-white-color;
	padding: $spacing-unit*2 0;
	text-align: center;
}

.meta-fields {
	margin: $spacing-unit 0;

	.meta-field {
		flex-basis: 10rem;
		margin: 0 $spacing-unit;
	}
}

.meta-fields--centered {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: auto;
}

.featured-area {
	@extend %negative-container;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: $content-wide-width;
	padding-bottom: 0;
	padding-top: $spacing-unit * 2;

	> h2 {
		@extend %container--padded;
		@extend %heading-underline;
		text-align: center;
	}

	.header--bar + &,
	.header--bar + article > &:first-child {
		padding-top: 0;
		margin-top: -$spacing-unit*4;
	}

	.full-screen-element {
		margin-bottom: 0.2rem;
		width: 100%;
	}

	.button {
		text-align: center;
	}
}

article .content--main {
	hyphens: auto;

	@media all and (min-width: $lg-width) {
		text-align: justify;
	}

	h2, h3, h4 {
		text-align: center;
	}
}
