.content {
	margin: 0 auto;
	max-width: $content-width;
	width: 90%;
}

.hero {
	font-size: $h4-size;
	margin-bottom: $spacing-unit * 2;
	margin-top: 0;
}

.footer {
	background: $near-white-color;
	padding: $spacing-unit*2 0;
	text-align: center;
}