.post--project {
  .full-screen-element {
    background: $black-color;

    h1 {
      @extend %heading-underline;
    }
  }
}

.project--credits {
  background: $black-color;
  color: $white-color;

  .theme-blue & {
    background-color: $blue-theme-color;
  }
}
// .project--credits-title {
//   display: flex;
//   margin-left: -$spacing-unit;
//   margin-top: -$spacing-unit * 1.5;
//   width: 100%;
//
//   > h3 {
//     background: $black-color;
//     display: block;
//     margin: 0;
//     padding: $spacing-unit / 2 $spacing-unit 0 $spacing-unit;
//   }
// }
.project--credits-title {
  overflow: hidden; // Margin-top forces black background to stretch up.
  text-align: center;

  h2 {
    @extend %heading-underline;
  }
}
.project--credits-container {
  @extend %container--padded;
}
.project--credits-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: $spacing-unit;
}
.project--credit {
  margin-right: $spacing-unit;
  text-align: center;

  h4 {
    @extend h5;
    margin-bottom: 0;

    + p {
      margin-top: 0;
    }
  }
}
.content {
  @extend %container--padded;
}

.trailer {
  @extend %negative-container;
  margin-top: $spacing-unit;
  text-align: center;
}

.trailer--content {
  @extend %container--padded;

  > h2 {
    color: $grey-color;
    margin-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit;
  }
}

.project-gallery--content {
  > h2 {
    margin-top: $spacing-unit * 1.5;
    padding: 0 $spacing-unit;
    padding-bottom: $spacing-unit;
    text-align: center;
  }
}
