table {
    border-collapse: collapse;
    font-family: $alt-font-family;
    width: 100%;
}

th {
    background: $black-color;
    border: 0;
    color: $white-color;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

td {
    border: $line-stroke-width / 2 solid $line-color;
}

th,
td {
    padding: $spacing-unit / 2 $spacing-unit;
    vertical-align: top;

    small {
        display: block;
    }

    &.table-cell--center {
        text-align: center;
    }
}

table {
    &.table--pricing {
        h4, h5, h6 {
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0 0 0 $spacing-unit / 2;
            
            li {
                font-size: $ui-font-size;
                margin: 0;
                list-style: square;
            }
        }
    }
}