@each $theme in $themes {
  $name: nth($theme, 1);
  $color: nth($theme, 2);

  .theme-#{$name} {
    .header {
    	.logo {
    		svg path {
    			fill: $color;
    		}
    	}
    }

  	nav.main-menu,
  	.language-switcher {
  		a, a:visited {
  			color: $color;
  		}
  	}
  }
}
