h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: $alt-font-family;
	font-weight: 400;
	text-transform: uppercase;
}

h1, .h1, h2, .h2 {
	letter-spacing: 0.1em;
}

h1, .h1 {
	font-size: $h1-size;
	font-weight: 300;
	margin: $spacing-unit * 2 0 $spacing-unit;
}
h2, .h2 {
	font-size: $h2-size;
	margin: $spacing-unit * 2 0 $spacing-unit / 2;
}
h3, .h3 {
	font-size: $h3-size;
	margin: $spacing-unit 0 $spacing-unit / 4 0;
}
h4, .h4 {
	font-size: $h4-size;
	margin: $spacing-unit 0 $spacing-unit / 8 0;
}
h5, .h5 {
	font-size: $h5-size;
	margin: $spacing-unit / 2 0 $spacing-unit / 8 0;
}
h6, .h6 {
	font-size: $h6-size;
	margin: $spacing-unit / 4 0 0 0;
}

p {
	margin: $spacing-unit / 2 0;
}
