<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
		{% include head.html %}
		{% include meta.html %}
	</head>
	<body>
		<div class="page">
			<div class="header">
				<div class="logo">
					<span class="visually-hidden">Side Stories Oy</span>
					<div class="svg" aria-hidden="true">
						{% include logo.svg %}
					</div>
				</div>
			</div>

			<div class="content">
				{{ content }}
			</div>
		</div>
		{% include scripts.html %}
	</body>
</html>