<!DOCTYPE html>
<html>
	{% include bootstrap/head.html %}
	<body>
		<div class="page">
			{% include header.html %}

			<article class="post--project">
				<header class="full-screen-element">
					<div class="full-screen-content content">
						<h1>{{ page.title }}</h1>
						{% if page.description %}
							<p class="hero">
								{{ page.description }}
							</p>
						{% endif %}

						<div class="meta-fields meta-fields--centered">
							{% if page.published %}
								<div class="meta-field">
									<h4>{{ site.data["i18n"]["year"] }}</h4>
									<p>{{ page.published }}</p>
								</div>
							{% endif %}
							{% if page.runtime %}
								<div class="meta-field">
									<h4>{{ site.data["i18n"]["running_time"] }}</h4>
									<p>{{ page.runtime }}</p>
								</div>
							{% endif %}
							{% if page.category %}
								<div class="meta-field">
									<h4>{{ site.data["i18n"]["category"] }}</h4>
									<p>{{ page.category }}</p>
								</div>
							{% endif %}
						</div>
					</div>

					<div class="full-screen-background">
						{% if page.liftup_image %}
							<div class="full-screen-background-content">
									<img src="{{ site.baseurl }}/images/{{ page.liftup_image }}" />
							</div>
						{% endif %}
					</div>
				</header>

				<div class="content content--spaced">
					{{ content }}
				</div>

				<div class="footer">
					<div class="content">
						{% include footer.html %}
					</div>
				</div>

			</article>
		</div>
		{% include bootstrap/scripts.html %}
	</body>
</html>
